.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 683px) {
    .cover__subtitle {
        font-size: 14px;
        max-width: 288px;

    }
}