.footer__copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    margin-left: auto;
    

}

@media (max-width: 757px) {
    .footer__copyright {
        margin: 16px 0 0 0;
        
    }
}
