.header__lang-link_on {
   
    text-decoration: underline;
    
}

.header__lang-link_on:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .header__lang-link_on {

        font-size: 18px;
    }
}