.place__site {
    align-self: flex-end;
    margin: 0 0 48px;
}

@media (max-width: 1024px) {
    .place__site {
        margin: 0 0 48px 32px;
    }
}

@media (max-width: 768px) {
    .place__site {
        margin: 0 0 48px 28px;
    }
}

@media (max-width: 683px) {
    .place__site {
        margin: 32px 16px;
    }
}