.cover__background{
    background-image: url(../../../sprint-3-images/cover-trains.jpg);
    object-fit: cover;
    min-width: calc(100% - 96px);
    min-height: 740px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    z-index: -2;
    
}
@media (max-width: 1024px) { 
    .cover__background{
        min-height: 640px;
    }
}
@media (max-width: 768px) { 
    .cover__background{
        min-height: 480px;
    }
}
@media (max-width: 320px) { 
    .cover__background{
        min-height: 200px;
       
    }
}