.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 80px;
    width: 100%;
}

.place:last-child {
    margin: 0 148px 92px;
}

@media (max-width: 1280px) {
    .place {
        width: 984px;
    }
}

@media (max-width: 1024px) {
    .place {
        width: 928px;
    }
}

@media (max-width: 768px) {
    .place {
        width: 720px;
    }
}

@media (max-width: 320px) {
    .place {
        width: 320px;
        grid-template-columns: 1fr;
        margin: 0 auto 50px;
    }
}